@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    label {
        margin: 0 !important;
        > span {
            padding: 0 !important;
            margin: 0 0 0 var(--spacing-normal) !important;
        }
    }
}
