@import "@styles/scss/partials/mixins";
@import "@styles/scss/partials/variables";

.root {
    display: flex;
    justify-content: center;
    align-items: center;

    &__canvas {
        width: 100%;
    }
}
