@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: var(--spacing-x-large);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-primary-minus-2);
    background-color: var(--color-background-paper-level-1);
    row-gap: var(--spacing-xx-large);

    &__item {
        width: 25%;

        &:first-child,
        &:nth-child(5) {
            padding-right: 0;

            &::before {
                display: none;
            }
        }
    }
}

@include xs {
    .root {
        padding: var(--spacing-large);

        &__item {
            width: 50%;

            &:nth-child(2n + 1) {
                padding-right: 0;

                &::before {
                    display: none;
                }
            }
        }
    }
}