@import "@styles/scss/partials/mixins";
@import "@styles/scss/partials/variables";

.root {
    padding: 0 var(--spacing-normal);
    border-radius: var(--border-radius-small);
    border: 1px solid var(--color-gray-level-200);
    background: var(--color-background-paper-level-1);
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;

    &__icon {
        color: var(--color-gray-level-600);
        padding: 0;
        margin-left: var(--spacing-xx-small);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transform: rotateY(180deg);
        svg {
            fill: var(--color-gray-level-500);
            width: 20px;
            height: 20px;
        }
    }

    &__keyword {
        width: 100%;
        display: flex;
        align-items: center;
        max-width: 230px;
        &__input {
            font-size: var(--font-size-h6);
            height: 34px;
            border-radius: var(--spacing-normal);
            width: 100%;
            display: flex;
            input {
                color: var(--color-gray-level-500);
                font-size: var(--font-size-small);
                padding: 0 var(--spacing-small);
                border-radius: var(--spacing-normal);
                height: 34px;
                font-weight: var(--font-weight-medium);
                width: 100%;
            }

            ::placeholder {
                direction: rtl;
                text-align: right;
                font-size: var(--font-size-small);
                line-height: var(--line-height-caption);
                color: var(--color-gray-level-500);
            }
        }

        &__icon {
            padding: 0;
            svg {
                transform: rotate(90deg);
                width: 18px;
                height: 18px;
                fill: var(--color-gray-level-500);
            }
        }
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: var(--color-gray-level-600);
        font-size: var(--font-size-small);
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: var(--color-gray-level-600);
        font-size: var(--font-size-small);
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: var(--color-gray-level-600);
        font-size: var(--font-size-small);
    }
}
