@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    height: 200px;
    background-color: var(--color-gray-level-10);
    border-radius: var(--border-radius-large);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-xx-large);
    padding-left: var(--spacing-xx-large);

    &::after {
        position: absolute;
        content: "";
        width: 4px;
        height: 100%;
        background-color: var(--color-primary-main);
        left: 0;
    }

    &__image {
        height: 100%;
        width: auto;
        max-width: 220px;
    }

    &__content {
        flex: 1;
        padding: var(--spacing-normal) 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: var(--spacing-normal);

        &__title {
            width: 100%;
            display: -webkit-box;
            white-space: normal;
            overflow: hidden;
            max-height: calc(var(--line-height-h4) * 1);
            text-overflow: ellipsis;
            position: relative;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            text-transform: none !important;
            font-size: var(--font-size-h4);
            font-weight: var(--font-weight-h4);
            line-height: var(--line-height-h4);
            color: var(--color-primary-main);
            font-feature-settings: normal;
        }

        p {
            width: 100%;
            display: -webkit-box;
            white-space: normal;
            overflow: hidden;
            height: calc(var(--line-height-body1) * 3);
            text-overflow: ellipsis;
            position: relative;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-transform: none !important;
            font-feature-settings: normal;
            color: var(--color-text-primary-minus-1);
        }

        &__row {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-normal);

            &__button {
                svg {
                    transform: rotate(180deg);
                }
            }

            &__date {
                font-size: var(--font-size-body1);
                font-weight: var(--font-weight-body1);
                line-height: var(--line-height-body1);
                font-feature-settings: normal;
                color: var(--color-text-primary-minus-1);
            }
        }
    }
}

@include xs {
    .root {
        flex-direction: column;
        height: auto;
        padding-left: 0;
        gap: var(--spacing-normal);

        &::after {
            display: none;
        }

        &__image {
            width: 100%;
            max-width: unset;
            height: auto;
            max-height: 350px;
        }

        &__content {
            width: 100%;
            padding: var(--spacing-x-large);

            &__title {
                max-height: calc(var(--line-height-subtitle1) * 1);
                font-size: var(--font-size-subtitle1);
                font-weight: var(--font-weight-subtitle1);
                line-height: var(--line-height-subtitle1);
            }

            p {
                height: auto;
                max-height: calc(var(--line-height-body2) * 3);
                font-size: var(--font-size-body2) !important;
                font-weight: var(--font-weight-body2) !important;
                line-height: var(--line-height-body2) !important;
            }

            &__row {
                &__date {
                    font-size: var(--font-size-caption);
                    font-weight: var(--font-weight-caption);
                    line-height: var(--line-height-caption);
                }
            }
        }
    }
}

[dir="ltr"] {
    .root {
        padding-right: var(--spacing-xx-large);
        padding-left: unset;

        &::after {
            right: 0;
            left: unset;
        }

        &__content {
            &__row {
                &__button {
                    svg {
                        transform: unset;
                    }
                }
            }
        }
    }
}

@include xs {
    [dir="ltr"] .root {
        padding-right: 0;
    }
}