@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    &__desktop {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: var(--spacing-xx-large);

        &__item {
            width: calc(33.333% - var(--spacing-large));
            height: auto;
        }
    }

    &__mobile {
        display: none;
    }
}

@include sm {
    .root {

        &__desktop {
            &__item {
                width: calc(50% - var(--spacing-large));
            }

            &__TabletNoDisplay {
                display: none !important;
            }
        }
    }
}

@include xs {
    .root {
        &__desktop {
            display: none;
        }

        &__mobile {
            width: 100%;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__item {
                color: var(--color-text-primary-minus-1);
                direction: ltr;
                text-align: right;
                font-size: var(--font-size-subtitle2);
                font-weight: var(--font-weight-subtitle2);
                line-height: var(--line-height-subtitle2);
                font-feature-settings: normal;

                &:first-child {
                    order: 2;
                }
            }
        }
    }
}