@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xx-large);
    position: relative;
    z-index: 1;
    padding-bottom: var(--spacing-xx-large);
    border-bottom: 1px solid var(--color-divider-1);

    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-color: var(--color-divider-1);
        top: 0;
        right: 80px;
        z-index: -1;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-x-large);

        &__list {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: var(--spacing-xx-large);
        }
    }
}

@include down($screen-md-start) {
    .root {
        &::before {
            right: 45px;
        }
    }
}

@include down(750px) {
    .root {
        margin-top: 120px;
        padding-left: 16px !important;
        padding-right: 16px !important;

        &::before {
            right: 50%;
        }
    }
}

[dir="ltr"] {
    .root {
        font-feature-settings: normal;

        &::before {
            left: 80px;
            right: unset;
        }
    }
}

@include down($screen-md-start) {
    [dir="ltr"] {
        .root {
            &::before {
                left: 45px;
            }
        }
    }
}

@include down(750px) {
    [dir="ltr"] {
        .root {
            &::before {
                left: 50%;
            }
        }
    }
}
