@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    position: relative;
    &__input {
        input {
            text-align: left;
            font-variation-settings: "FANU" 1 !important;
            direction: ltr;
        }

        input::-webkit-input-placeholder {
            text-align: right;
            font-weight: normal !important;
        }

        input::-moz-placeholder {
            text-align: right;
            font-weight: normal !important;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }

        /* Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
        }
    }
}
@include xs {
    .root {
        input {
            width: 100%;
        }
    }
}
