@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 100%;
    min-height: 32px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-small);
    background-color: var(--color-primary-main);
    font-size: var(--font-size-button2);
    font-weight: var(--font-weight-button2);
    color: var(--color-gray-level-0);
    scroll-margin-top: 60px;
}

@include down(750px) {
    .root {
        scroll-margin-top: 120px;
    }
}