@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xx-large);

    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: var(--spacing-normal);
        font-feature-settings: normal;

        h6 {
            direction: ltr;
            text-align: right;
        }

        h4,
        h6 {
            color: var(--color-text-primary-minus-1);
        }
    }
}

@include down($screen-md-start) {
    .root {
        &__item {
            h4 {
                font-size: var(--font-size-subtitle1);
                font-weight: var(--font-weight-subtitle1);
            }

            h6 {
                font-size: var(--font-size-body1);
                font-weight: var(--font-weight-body1);
            }
        }
    }
}

[dir="ltr"] {
    .root {
        &__item {
            h6 {
                text-align: left;
            }
        }
    }
}
