@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    &__paper {
        min-width: 350px;
        min-height: 150px;
        padding: 0;
        margin: 0;
        border-radius: var(--spacing-normal);
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: var(--spacing-large);
        padding: var(--spacing-x-large);
        box-shadow: 0 -3px 12px var(--gray-100);
        border-top: 1px solid var(--gray-100);
    }

    &__messageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--spacing-x-large) !important;
        &__message {
            font-size: var(--font-size-overline);
            text-align: center;
        }
        &__iconWrapper {
            text-align: center;
            svg {
                width: 48px;
                height: 48px;
                color: var(--primary-dark);
                margin-bottom: var(--spacing-x-large);
            }
        }
    }
}

@include down($screen_md_end) {
    .root {
        &__paper {
            min-width: 300px;
            padding: 0;
            margin: 0;
        }
    }
}
