@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-x-large);
    margin-bottom: var(--spacing-x-large);
}

@include xs {
    .root {
        align-items: center;
        justify-content: space-between;
        height: 65px;
        box-shadow: var(--shadow-top-fixed-action);
        padding: 0 var(--spacing-xx-large);
        margin: 0;
        background-color: var(--color-background-fixed-action);
    }
}