@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@include down(750px) {
    .root {
        width: 32px;
        height: 32px;
    }
}