@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    position: absolute;
    top: var(--spacing-large);
    left: var(--spacing-large);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
        fill: var(--color-gray-level-600);
    }
}

@include xs {
    .root {
        position: static;
    }
}
