@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-minus-2);

    &__container {
        width: 100%;
        height: 100%;

        &__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: var(--spacing-x-large);
            padding: var(--spacing-normal) 0;
            border-top: 2px solid var(--color-primary-main);
        }
    }
}

@include down(800px) {
    .root {

        &__container {
            &__wrapper {
                flex-direction: column;
                justify-content: center;
                gap: var(--spacing-xx-small);
            }
        }
    }
}