@import "@styles/scss/partials/mixins";
@import "@styles/scss/partials/variables";

.root {
    display: table-cell;
    width: 100%;
    height: 1px;
    vertical-align: middle;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &__label {
            display: flex;
            background-color: var(--color-background-paper-level-1);
            align-items: center;
            justify-content: inherit;
            text-align: center;
            width: 100%;
            font-size: var(--font-size-body2);
            font-weight: var(--font-weight-body2);
            line-height: var(--line-height-body2);
            border-bottom: 1px solid var(--color-gray-level-200);
            padding: var(--spacing-large) var(--spacing-normal);
        }

        &__value {
            display: flex;
            justify-content: inherit;
            align-items: center;
            padding: var(--spacing-large) var(--spacing-normal);
            font-size: var(--font-size-body2);
            font-weight: var(--font-weight-body2);
            line-height: var(--line-height-body2);
            width: 100%;
            height: 100%;

            a {
                display: flex;
                align-items: center;
            }
        }
    }

    &__link {
        max-width: 60px;
        min-width: 60px;
    }

    div:global(.variant_first) {
        padding-right: var(--spacing-xx-large);
    }

    div:global(.variant_last) {
        padding-left: var(--spacing-xx-large);
    }
}

@include down(1300px) {
    .root {
        max-width: unset !important;
        display: flex;
        flex-direction: row;
        gap: var(--spacing-normal);
        height: auto;

        &__link {
            max-width: unset;
            min-width: unset;
            width: auto;
        }

        &__container {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-normal);

            &__label {
                display: flex;
                min-height: unset;
                max-height: unset;
                background-color: unset;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                border-bottom: none;
                border-left: 1px solid var(--color-gray-level-200);
                min-width: 70px;
                max-width: 70px;
                padding: var(--spacing-x-small);
                white-space: nowrap;
                color: var(--color-gray-level-700);
            }

            &__value {
                display: flex;
                justify-content: inherit;
                align-items: center;
                padding: var(--spacing-x-small);
                min-height: unset;
                width: 100%;
                height: auto;

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }

        div:global(.variant_first) {
            padding-right: 0;
        }

        div:global(.variant_last) {
            padding-left: 0;
        }
    }
}

@include xs {
    .root {
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between !important;
            gap: var(--spacing-normal);
            width: 100%;

            &__label {
                border-left: none;
                padding: 0;
                width: auto;
                min-width: unset;
                max-width: unset;
            }

            &__value {
                justify-content: flex-end;
                padding: 0;
                width: auto;
            }
        }
    }
}
