@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: fit-content;
    text-align: center;

    &__text {
        color: var(--color-primary-main);

        svg {
            width: 10px;
            height: 10px;
            margin-left: var(--spacing-x-small);
        }
    }
}