@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    background-color: var(--color-primary-minus-2);
    padding: var(--spacing-normal);
    border-radius: var(--border-radius-small);
    font-size: var(--font-size-button2);
    font-weight: var(--font-weight-button2);
    color: var(--color-primary-main);
    text-wrap: nowrap;
}
