@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    position: relative;
    width: 100%;
    background-color: var(--color-gray-level-10);



    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: row;
        gap: var(--spacing-xx-large);
        padding-top: 48px;

        &__news {
            flex: 1;

            &__list {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: var(--spacing-xx-large);
                margin-bottom: var(--spacing-xx-large);

                &__pagination {
                    margin-bottom: calc(var(--spacing-xx-large) * 3);
                }
            }
        }

        &__sidebar {
        position: relative;

        }
    }


}

@include down(750px) {
    .root {
        &__content {
            flex-direction: column;
            margin-top: var(--spacing-x-large);
            gap: 0;

            &__news {
                margin-right: 0;

                &__list {
                    margin-bottom: var(--spacing-x-large);

                    &__pagination {
                        margin-bottom: var(--spacing-xxx-large);
                    }
                }
            }

          
        }


    }
}


[dir="ltr"] {
    .root {
        font-variation-settings: "FANU" 0 !important;
        font-feature-settings: normal !important;

        &__content {
            &__news {
                &__list {
                    &__pagination {

                        svg {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }
}