@import "@styles/scss/partials/mixins";
@import "@styles/scss/partials/variables";

.root {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 56px;

    &__player {
        position: relative;
    }

    p {
        margin: 0 var(--spacing-normal) !important;
        font-weight: var(--font-weight-regular) !important;
    }

    &__reset {
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        height: 30px !important;
        width: 30px !important;
        border-radius: 50%;

        svg {
            width: 18px;
            height: 18px;
            * {
                fill: var(--color-primary-minus-1);
            }
        }

        &:hover {
            svg {
                * {
                    fill: var(--color-primary-main);
                }
            }
        }
    }

    &__fadeContainer {
        width: 100%;
    }

    &__recorder {
        display: flex;
        gap: var(--spacing-small);
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--color-gray-level-200);
        border-radius: var(--border-radius-x-large);
        max-height: 50px;
        height: 50px;
        width: 100%;
        position: relative;
        padding: 0 var(--spacing-normal) 0 var(--spacing-x-small);

        &__placeholder {
            cursor: pointer;
            display: flex;
            font-size: var(--font-size-caption);

            p {
                font-size: var(--font-size-caption);
                white-space: nowrap;
                color: var(--color-text-primary-minus-2);
            }

            span {
                color: var(--color-primary-main);
                font-size: var(--font-size-caption);
                white-space: nowrap;
            }

            &__hide {
                display: none;
            }
        }

        &__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0;

            &__button {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: var(--color-primary-main);

                svg {
                    color: var(--color-button-primary-contrast-text) !important;
                    fill: var(--color-button-primary-contrast-text) !important;

                    path {
                        color: var(--color-primary-main) !important;
                        fill: var(--color-button-primary-contrast-text) !important;
                    }
                }
            }
        }

        &__wave {
            margin-right: var(--spacing-x-large);
            width: 100%;
        }
    }

    &__audioTrack {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 8px var(--spacing-extra-small 0);
        justify-content: center;
        align-items: flex-end;
        margin-top: 8px;

        &__image {
            position: absolute;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            height: 18px;
            background: url("/images/player/wave.svg");
            background-size: cover;
            background-position: top left;
            opacity: 0.3;
        }

        &__timeline {
            position: relative;
            width: 100%;
            height: 18px;
            direction: ltr;

            &__animation {
                width: 0;
                height: 18px;
                transition-property: width;
                background-color: var(--color-primary-main);
                transition-timing-function: ease-in;
                background: url("/images/player/wave.svg");
                background-size: cover;
                background-position: top left;

                &__play {
                    width: 100% !important;
                    direction: ltr;
                }
            }
        }

        &__timeStamp {
            color: var(--color-text-primary-minus-2);
            font-size: 9px;
            direction: ltr;
            line-height: 11px;
            height: 11px;
            margin-top: 3px;
        }
    }

    &__disabled {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-gray-level-200);
        border-radius: var(--spacing-normal);
        height: 56px;
        width: 100%;
        padding: var(--spacing-small);
        font-size: var(--font-size-caption);
    }
}

@include down(400px) {
    .root {
        width: 100%;
    }
}
