@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

@include xs {
    .root {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: var(--spacing-x-large) var(--spacing-xx-large);
        box-shadow: var(--shadow-top-light);
    }
}
