@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex !important;
    justify-content: center;
    width: 100%;
    margin-bottom: var(--spacing-normal) !important;

    &__labelWrapper {
        display: flex;
        justify-content: space-between;
    }

    &__label {
        float: right;
        position: relative;
        max-width: 100%;
        transform-origin: unset;
        transform: unset;
        text-align: right;

        &__link {
            p {
                color: var(--color-primary-main);
                font-size: 11px;
                line-height: var(--line-height-normal);
            }
        }
    }

    &__input {
        margin-top: 0 !important;

        input {
            text-align: left;
            font-variation-settings: "FANU" 0 !important;
            font-feature-settings: normal !important;
            direction: ltr !important;
        }

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }
    }

    &__helperText {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
        text-align: right;
        color: var(--color-gray-level-700);
        margin: 0;

        > span {
            margin-bottom: var(--spacing-normal);
        }
    }

    &__error {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
        text-align: right;
        margin-top: 0;
        display: flex;
        align-items: center;
        color: var(--color-error-main) !important;
        margin-bottom: 0 !important;
        svg {
            width: 12px;
            margin-left: var(--spacing-normal);
        }
    }

    &__rule {
        color: var(--color-gray-level-700);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-size-small);
        line-height: var(--line-height-small);
        clear: both;
        width: 100%;
        display: table;
    }
}

@include xs {
    .root {
        width: 100%;

        &__input {
            input {
                width: 100%;
            }
        }
    }
}
