@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 100%;
    position: relative;
    justify-content: center !important;
    align-items: center !important;
    gap: var(--spacing-large);
    // margin: var(--spacing-xx-large) 0;
    margin-bottom: var(--spacing-xxx-large);

    &__title {
        color: var(--color-text-primary-minus-1);
    }

    &__swiper {
        width: 100%;
        padding-top: var(--spacing-large);

        &__slide {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 144px;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, rgb(255, 255, 255) 20%, rgba(255, 255, 255, 0) 100%);
        z-index: 10;
    }

    &::after {
        content: "";
        position: absolute;
        width: 144px;
        height: 100%;
        top: 0;
        right: 0;
        background: linear-gradient(-90deg, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 100%);
        z-index: 10;
    }
}

@include down(750px) {
    .root {
        gap: var(--spacing-small);
        margin: 0;

        &__title {
            font-size: var(--font-size-h5);
            font-weight: var(--font-weight-h5);
            line-height: var(--line-height-h5);
        }
    }
}
