@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    &__ltr {
        p {
            direction: rtl;
        }
    }
    &__margin {
        margin-left: 14px;
    }
    &__loading {
        width: 18px !important;
        height: 18px !important;
        svg {
            width: 18px !important;
            height: 18px !important;
            fill: var(--color-text-primary-disabled) !important;
            color: var(--color-text-primary-disabled) !important;
        }
    }
}
