@import "@styles/scss/partials/mixins";
@import "@styles/scss/partials/variables";

.root {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    max-width: var(--max-container-size);
    padding-left: var(--spacing-panel);
    padding-right: var(--spacing-panel);

    &__title {
        @include font("h3");
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: var(--spacing-normal);
        padding-bottom: var(--spacing-x-large);
        margin: 0;
        color: var(--color-text-primary);

        &:before {
            content: "";
            width: 4px;
            height: var(--line-height-h3);
            background-color: var(--color-primary-main);
            border-radius: var(--border-radius-normal);
        }
    }

    &__header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.general {
    max-width: var(--max-container-size);
}

.dashboard {
    max-width: var(--max-dashboard-container-size);
    padding-top: var(--spacing-card);
}

.dashboardSection {
    max-width: var(--max-dashboard-section-container-size);
}

.fullWidth {
    max-width: 100%;
    padding: 0 !important;
}

@include down($screen-sm-end) {
    .root {
        &__title {
            @include font("h4");
        }
    }
}

@include xs {
    .root {
        &__fullMobileWidth {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        &__title {
            @include font("h5");

            &__padding {
                padding-left: var(--spacing-panel);
                padding-right: var(--spacing-panel);
            }
        }
    }
}
