@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    &__paper {
        padding: var(--spacing-xx-large);
        position: relative;
        display: flex;
        flex-direction: column;
        background-image: none;
        overflow: visible;
    }
}

@include xs {
    .root {
        &__paper {
            padding: 0;
            border-radius: 0;
            margin: 0;
        }
    }
}