@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--color-background-default);

    &__container {
        display: flex;
        align-self: center;
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        padding-left: var(--spacing-panel);
        padding-right: var(--spacing-panel);
        margin: var(--spacing-xxx-large) 0;
        gap: calc(var(--spacing-xxx-large) * 2);
    }

    &__description {
        color: var(--color-text-primary-main);
    }
}

@include down($screen-sm-end) {
    .root {
        &__description {
            font-size: var(--font-size-body2);
            font-weight: var(--font-weight-body2);
            line-height: var(--line-height-body2);
        }
    }
}

@include xs {
    .root {
        &__container {
            gap: var(--spacing-xxx-large);
        }
    }
}

[dir="ltr"] {
    .root {
        font-feature-settings: normal;
    }
}
