@import "@styles/scss/partials/mixins";
@import "@styles/scss/partials/variables";

.root {
    padding: var(--spacing-x-large) var(--spacing-xx-large);
    border-top: 1px solid var(--color-gray-level-200);

    button {
        position: unset;
    }
}

@include down($screen-sm-end) {
    .root {
        padding: var(--spacing-x-large) var(--spacing-x-large);
    }
}

@include xs {
    .root {
        padding: var(--spacing-large);
    }
}
