@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-normal);

    &__item {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        border-radius: var(--border-radius-small);
        transition: all ease-in .2s;

        &:hover {
            background-color: var(--color-gray-level-0);
        }
    }
}