@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-large);
    align-items: flex-start;
    justify-content: flex-start;

    &__title {
        color: var(--color-text-primary-minus-1) !important;
    }

    &__checkbox {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-large);

        label {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        &__label {
            color: var(--color-text-primary-minus-2) !important;
            font-size: var(--font-size-subtitle2) !important;
            font-weight: var(--font-weight-subtitle2) !important;
        }
    }
}

@include down($screen-md-start) {
    .root {
       
        &__title {
            font-size: var(--font-size-subtitle1) !important;
            font-weight: var(--font-weight-subtitle1) !important;
        }

        &__checkbox {
            &__label {
                font-size: var(--font-size-body2) !important;
                font-weight: var(--font-weight-body2) !important;
            }
        }
    }
}

@include down(750px) {
    .root {
 position: relative;
        top: -32px;

    }
}
[dir="ltr"] {
    .root {
        &__checkbox {
            label {
                span {
                    padding-left: 0 !important;
                    padding-right: var(--spacing-normal);
                }
            }
        }
    }
}