@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    position: relative;
    display: block;

    &__paper {
        width: 100%;
        background-color: var(--color-background-paper-level-1);
        height: fit-content;
        max-height: 420px;
        padding: var(--spacing-x-large);
        border-radius: 0;
        border-top-right-radius: var(--border-radius-large);
        border-top-left-radius: var(--border-radius-large);
        display: flex;
        flex-direction: column;
    }
}