@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxx-large);
    margin-top: var(--spacing-xxx-large);
}

@include xs {
    .root {
        gap: 0;
        margin-top: 0;
    }
}