@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-x-large);
    padding: var(--spacing-x-large);
    margin: var(--spacing-x-large) auto;
    position: relative;
    overflow: hidden;
    width: 80vw;
    background-color: var(--color-gray-level-10);
    border: 1px solid var(--color-gray-level-300);
    border-radius: var(--border-radius-small);

    &__header {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: var(--spacing-x-large);
        border-bottom: 1px solid var(--color-gray-level-200);
        padding-bottom: var(--spacing-x-large);

      

        &__upTitle {
            font-size: var(--font-weight-subtitle2);
            font-weight: var(--font-weight-subtitle2);
            color: var(--color-text-primary-main);

        }


        &__title {
            font-size: var(--font-size-h1);
            font-weight: var(--font-weight-h1);
            color: var(--color-text-primary-main);
        }

        &__lead {

            font-size: var(--font-weight-subtitle1);
            font-weight: var(--font-weight-subtitle1);

        }


    }


    &__body {

        >div {
            position: relative;
            width: 100%;
            display: flex;
            gap: var(--spacing-x-large);
            flex-direction: column;


            p {
                text-align: justify !important;
                position: relative;
                width: 100%;
                margin: 0;
                font-size: var(--font-size-body1);
                font-weight: var(--font-weight-body1);
                line-height: var(--line-height-body1);


                img {
                    position: relative;
                    width: 500px !important;
                }


            }
        }

    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid var(--color-gray-level-200);
        padding-top: var(--spacing-normal);
        ;
        width: 100%;

        &__date {
            color: var(--color-text-primary-main);

        }

        &__source {

            a {
                color: var(--color-text-primary-main);

            }
        }

    }


    @media print {
        width: 100vw;

        .root {
            &__header {

                img {
                    display: none;
                }
            }
        }
    }
}


@include down(750px) {


    .root {
        width: 95vw;

        &__header {
            width: 100%;
            display: flex;
            flex-direction: column;

            &__title {
                font-size: var(--font-size-h2);
                font-weight: var(--font-weight-h2);
                color: var(--color-text-primary-main);
            }

            img {
                width: 100%;
                object-fit: cover;

            }

        }

        &__footer {
            display: flex;
            flex-direction: column;
        }

    }

}

[dir="ltr"] {
    .root {
        font-variation-settings: "FANU" 0 !important;
        font-feature-settings: normal !important;
    }
}