@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--spacing-normal);
}

@include down(750px) {
    .root {
        width: auto;
    }
}