@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    &__bar {
        position: relative;
        height: 2px;
        background: var(--color-gray-level-200);
        margin: 8px 4px;
        border-radius: 2px;
        display: flex;

        &:before,
        &:after {
            content: "";
            height: inherit;
            background: transparent;
            display: block;
            border-color: #fff;
            border-style: solid;
            border-width: 0 6px 0;
            position: absolute;
            width: calc(20% - 6px);
            z-index: 10;
        }

        &:before {
            left: calc(20% - 3px);
        }

        &:after {
            right: calc(20% - 3px);
        }

        &__strength {
            background: transparent;
            height: inherit;
            position: absolute;
            width: 0;
            border-radius: inherit;
            transition:
                width 0.5s ease-in-out,
                background 0.25s;

            &[data-strength="1"] {
                width: 20%;
                background: var(--color-error-plus-1);
            }

            &[data-strength="2"] {
                width: 40%;
                background: var(--color-error-main);
            }

            &[data-strength="3"] {
                width: 60%;
                background: var(--color-warning-plus-1);
            }

            &[data-strength="4"] {
                width: 80%;
                background: var(--color-warning-main);
            }

            &[data-strength="5"] {
                width: 100%;
                background: var(--color-success-plus-1);
            }
        }
    }
    &__title {
        padding-top: var(--spacing-normal);
        font-size: var(--font-size-body2);
    }
}

.password-count {
    bottom: 16px;
    right: 10px;
    font-size: 1rem;
}
