@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-normal);

    &__chip {
        width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-normal);
        background-color: var(--color-primary-minus-2);
        border-radius: var(--border-radius-small);
        padding: var(--spacing-normal);
        
        cursor: -webkit-grabbing; cursor: grabbing;

        svg {
            width: 16px;
            height: 16px;
            cursor: pointer;

        }

        span {
            text-wrap: nowrap;
        }
    }
}
