@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-xx-small);

    &__label {
        color: var(--color-text-primary-minus-1) !important;
    }

    &__input {
        width: 100%;
        background-color: var(--color-gray-level-0);
        border-radius: var(--border-radius-small);
        border: 1px solid var(--color-primary-minus-1);
        padding: 0 var(--spacing-normal);
        position: relative;
        display: flex;
        align-items: center;

        > div {
            min-height: 40px;
            height: auto;
            width: 100%;

            &::after,
            &::before {
                display: none;
                border: none !important;
            }

            textarea {
                padding: var(--spacing-normal) 0;
            }

            input {
                font-feature-settings: normal;

                &::placeholder {
                    font-feature-settings: normal;
                }
            }
        }
    }

    &__error {
        color: var(--color-error-main) !important;
    }
}

@include xs {
    .root {
        &__label {
            font-size: var(--font-size-button1) !important;
            font-weight: var(--font-weight-button1) !important;
        }
    }
}