@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: calc(56px + var(--spacing-xx-large));
    width: 100%;

    img {
        max-width: 100%;
        padding: var(--spacing-large);
    }

    &__empty {
        padding-top: var(--spacing-xxx-large);
        font-size: var(--font-size-h4);
        font-weight: var(--font-weight-bold);

        &__info {
            width: 80%;
            padding-top: var(--spacing-xx-large);
            padding-bottom: var(--spacing-xxx-large);
            font-size: var(--font-size-normal);
            color: var(--color-gray-level-700);
            text-align: center;
        }
    }

    &__button {
        background-color: transparent !important;
        margin: var(--spacing-normal);
        font-size: var(--font-size-h6);
        font-weight: var(--font-weight-bold);
        border-width: 1px;
        border-style: solid;
        border-radius: var(--spacing-normal);

        &_red {
            border-color: var(--color-primary-plus-2 !important);
            color: var(--color-primary-plus-2);

            a {
                color: var(--color-primary-plus-2);
            }

            svg {
                font-size: var(--font-size-normal !important);
                margin-right: var(--spacing-small !important);
                margin-left: 0 !important;
                transition: all linear 0.3s;
            }

            &:hover svg {
                transform: translateX(var(--spacing-normal));
            }
        }

        &_gray {
            border-color: var(--color-gray-level-900 !important);
            color: var(--color-gray-level-700);

            a {
                color: var(--color-gray-level-700);
            }

            &:hover {
                background: var(--color-gray-level-900 !important);
            }
        }
    }
}
