@import "@styles/scss/partials/variables";
@import "@styles/scss/partials/mixins";

.root {
    display: flex;
    height: 44px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--spacing-large);
    padding-right: var(--spacing-large);
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 1px;
        height: 100%;
        background-color: var(--color-primary-minus-1);
        right: 0;
        top: 0;
    }

    &__label {
        color: var(--color-gray-level-500);
    }

    &__value {
        color: var(--color-text-primary-minus-1);
    }
}

[dir="ltr"] {
    .root {
        padding-left: var(--spacing-large);
        padding-right: unset;
        font-feature-settings: normal;

        &::before {
            left: 0;
            right: unset;
        }
    }
}
